@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');

html {
    font-size: 16px;
}

/** 
#63D471 - основной цвет текста
#0F3F49 - основной цвет фона
**/

* {
    font-family: 'Roboto Mono', monospace;
    color: #000;
    text-decoration: none;
    line-height: 1.8em;
}

h1, h2, h3, h4 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 500;
    margin: 0;
}

h1 {
    font-size: 2rem;
    padding: 2rem 0;
}

h2 {
    font-size: 1.7rem;
    padding: 2rem 0;
}

h3 {
    font-size: 1.4rem;
}

body {
    background-color: #474A51;
    margin: 0;
    font-weight: 300;
}

header, footer, main {
    width: 100%;
    height: auto;
    margin: 0;
}

.header-content, .main-content, .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1080px;
    margin: auto;
    padding: 0 1rem;
    align-items: center;
}

.main-text {
    padding-bottom: .1rem;
}

.main-text > a {
    display: block;
    text-align: center;
    font-weight: 400;
}    

.main-text > ol {
    display: block;
    padding: 1rem 10px;
    margin-left: 1.5rem;
    border-radius: 10px;
    font-weight: 500;
    text-align: left;
}    

.main-content {
    display: block;
    border-radius: 25px;
    background-color: #ebeff1;
}

header {
    position: fixed;
    top: 0;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
    background-color: #474A51;
    z-index: 9999;
}

main {
    padding: 68px 0 10px 0;
    background-color: #ebeff1;
}

footer {
    box-shadow: 0px -10px 15px 0px rgba(0, 0, 0, 0.1);
}

p {
    text-align: justify;
    margin: 1rem 0;
    font-weight: 300;
}

b {
    font-weight: 500;
}

ul, ol {
    margin: .5rem 0;
}

li {
    line-height: 2em;
}

tt {
    background-color: lightgray;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 500;
}

.header-url {
    display: block;
    width: 216px;
    padding: 1rem;
    text-align: center;
}

.header-url > a {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    padding: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: #ebeff1;
}

.footer-content > a {
    color: #ebeff1;
}

a {
    transition: all .2s ease;
    padding: .8rem 0;
    color: #000;
}

a:hover {
    color: #00d084;
}


#block {
    background-color: #DFDFDF;
}

.soft-tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
}

.soft-tile > p {
    width: 90%;
    margin: 0 10px;
}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 144px;
    margin: .8rem 0;
}

.footer-social-item {
    display: block;
    height: auto;
    margin: 0 1rem;
}

.footer-copyright > p {
    color: #ebeff1;
}

img {
    display: block;
    margin: auto;
    border: 2px solid #474A51;
}

.social {
    width: 32px;
}

.screen {
    display: flex;
    flex-direction: row;
}

.preview {
    width: 90%;
    margin: 1rem auto;
    transition: 1s ease;
    z-index: 1;
    border-radius: 10px;
}

.preview-usb {
    width: 80%;
    margin: 1rem auto;
    transition: 1s ease;
    border-radius: 10px;
}

.preview:hover {
    transform: scale(1.5);
}

.soft-icon {
    width: 10%;
    margin: auto;
    border: none;
}

.terminal {
    margin-bottom: 1.8rem 0;
}

#active {
    color: #00d084;
    font-weight: 500;
}

@media (max-width: 1080px) {
    html {
        font-size: 13px;
    }
    
    main {
        padding: 3rem 0 0 0;
    }
    
    .header-content, .main-content, .footer-content {
        width: 100%;
        padding: 0;
    }
    
    .main-content {
        border-radius: 0;
    }
    
    .header-url {
        width: 100px;
        padding: .5rem 0;
    }

    .header-url > a {
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }
    
    tt {
        padding: .1rem .5rem;
        border-radius: .5rem;
        margin: 1rem 0 1rem .8rem;
        font-weight: 500;
    }
    
    .preview {
        border-radius: .5rem;
    }
    
    .preview-usb {
        width: 50%;
        margin: 0 auto;
        border-radius: .5rem;
    }
    
    #rufus {
        width: 30%;
        border-radius: .5rem;
        margin: 1rem auto;
        border: 2px solid #474A51;
    }
    
    .footer-copyright > p {
        font-size: 1rem;
    }
    
    .footer-social {
        width: 80px;
        margin: .8rem 0;
    }
    
    .social {
        width: 16px;
    }
    
    .soft-tile {
        margin: 0 0 1rem 0;
    }
    
    .soft-tile > p {
        width: 90%;
        margin: 0 10px 0 0;
    }
    
    .soft-icon {
        width: 7%;
    }
    
    h1 {
        font-size: 1.5rem;
        padding: .5rem 0;
    }

    h2 {
        font-size: 1rem;
        padding: .5rem 0;
    }

    h3 {
        font-size: .7rem;
    }
    
    p {
        font-size: 1rem;
        margin: 0 10px;
    }
    
    .main-text > ol {
        padding: 0 1.5rem;
        margin-left: 1.5rem;
    }   
    
    .preview:hover {
        transform: none;
    }
}

@media (max-width:425px) {
    html {
        font-size: 10px;
    }
    
    main {
        padding: 3rem 0 0 0;
    }
    
    .header-content, .main-content, .footer-content {
        width: 100%;
        padding: 0;
    }
    
    .main-content {
        border-radius: 0;
    }
    
    .header-url {
        width: 100px;
        padding: .5rem 0;
    }

    .header-url > a {
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }
    
    tt {
        padding: .1rem .5rem;
        border-radius: .5rem;
        margin: 1rem;
        font-weight: 500;
    }
    
    #wdth {
        display: block;
    }
    
    .preview {
        border-radius: .5rem;
    }
    
    .preview-usb {
        margin: 0 auto;
        border-radius: .5rem;
        width: 90%;
    }
    
    #rufus {
        width: 50%;
        border-radius: .5rem;
        margin: 1rem auto;
        border: 2px solid #474A51;
    }
    
    .footer-copyright > p {
        font-size: 1rem;
    }
    
    .footer-social {
        width: 80px;
        margin: .8rem 0;
    }
    
    .social {
        width: 16px;
    }
    
    .soft-tile {
        margin: 0 0 1rem 0;
    }
    
    .soft-tile > p {
        width: 80%;
        margin: 0 10px 0 0;
    }
    
    .soft-icon {
        width: 10%;
    }
    
    h1 {
        font-size: 1.5rem;
        padding: .5rem 0;
    }

    h2 {
        font-size: 1rem;
        padding: .5rem 0;
    }

    h3 {
        font-size: .7rem;
    }
    
    p {
        font-size: 1rem;
        margin: 0 10px;
    }
    
    .main-text > ol {
        padding: 0 1.5rem;
        margin-left: 1.5rem;
    }   
    
    .screen {
        flex-direction: column;
    }
    
    .preview:hover {
        transform: none;
    }
}